.App {
  width: 100%;
  overflow-x: hidden;
}

/*Navigation bar CSS  */
.navbar-bg {
  /* background-image: linear-gradient(to right, #1a4192, #1c78c0, #1d9de0); */
  /* background-color: #4270b9; */
  background-color: #2f3644;
  color: white;
}
.navbar-logo {
  font-size: 25px;
  line-height: 1;
  font-weight: 500;
}

/* Footer CSS */

.footer-bg {
  /* background-image: linear-gradient(to right, #1a4192, #1c78c0, #1d9de0); */
  background-color: #2f3644;
  color: white;
}
.social-media-icon {
  color: white;
  margin: 0 5px;
}

.social-media-icon-bar {
  margin: 0 auto;
  float: none;
}

.inner-row {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.row-footer {
  position: relative;
  height: 30px;
}

/* Landing page CSS */
.bg-image {
  width: 100%;
  z-index: -10000;
}
.school-bus-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20%;
  z-index: 1;
}
.background {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/bg.jpg") center top no-repeat;
  width: 100%;
  height: 75vh;
  position: relative;
  background-size: cover;
  background-position: center center;
  color: white;
}

.intro-title {
  margin-top: 100px;
}

/* Register page CSS */

.register-bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/reg-back.jpg") center top no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.register-card {
  width: 50%;
  position: absolute;
  padding: 3% 2% 2% 2%;
  margin-top: 3%;
  margin-left: 3%;
  border-radius: 15px 60px;
  opacity: 0.9;
}

@media only screen and (max-width: 600px) {
  .register-bg-image {
    background: white;
  }
  .register-card {
    width: 85%;
    /* margin-right: 10%; */
  }
}

/* Login Page CSS */
.login-bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/login-back.jpg") center top no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.login-card {
  width: 50%;
  position: absolute;

  margin-top: 5%;
  margin-left: 25%;
  border-radius: 15px 60px;
  opacity: 0.9;
}
